@import "tailwindcss";


@font-face {
    font-family: 'MyCustomFont';
    src: url(assets/font/LibreFranklin-ExtraBold.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ff-franklin {
    font-family: 'MyCustomFont';
}